<div id="root"></div>

<script>
    console.clear();

    import React, {
        useState,
        useEffect,
        useRef
    } from "https://esm.sh/react@rc?dev";
    import ReactDOMClient from "https://esm.sh/react-dom@rc/client/?dev";

    const rootElement = ReactDOMClient.createRoot(document.getElementById("root"));

    function App() {
        const chatRoomId = 2;
        const lastChatMessageId = useRef(0);
        const [chatRoom, setChatRoom] = useState();
        const [chatMessages, setChatMessages] = useState([]);

        const loadMoreChatMessages = () => {
            fetch(
                `http://localhost:8070/api/v1/chat/rooms/${chatRoomId}/messages?afterChatMessageId=${lastChatMessageId.current}`
            )
                .then((response) => response.json())
                .then((data) => {
                    if (data.length > 0) {
                        data.reverse();
                        lastChatMessageId.current = data[0].id;
                        setChatMessages((chatMessages) => [...data, ...chatMessages]);
                    }
                });
        };

        useEffect(() => {
            fetch(`http://localhost:8070/api/v1/chat/rooms/${chatRoomId}`)
                .then((response) => response.json())
                .then(setChatRoom);

            setInterval(loadMoreChatMessages, 1000);
        }, []);

        const onChatMessageFormSubmit = (e) => {
            e.preventDefault();

            const form = e.target;

            form.writerName.value = form.writerName.value.trim();

            if (form.writerName.value.length == 0) {
                alert("작성자를 입력해주세요.");
                form.writerName.focus();
                return;
            }

            form.content.value = form.content.value.trim();

            if (form.content.value.length == 0) {
                alert("메세지를 입력해주세요.");
                form.content.focus();
                return;
            }

            const writerName = form.writerName.value;
            const content = form.content.value;

            form.content.value = "";
            form.content.focus();

            fetch(`http://localhost:8070/api/v1/chat/rooms/${chatRoomId}/messages`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    writerName,
                    content
                })
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log(`${data.id}번 메세지가 작성되었습니다.`);
                });
        };

        // if (!chatRoom) return <>로딩중...</>;

        return (
            <>
                <!--
                <h1 className="font-bold text-lg">
                    채팅방(No {chatRoom.id} : {chatRoom.name})
                </h1>
                <div className="mt-2">개설날짜 : {dateForPrint(chatRoom.createDate)}</div>
                -->

                <hr className="my-2" />

                <h1 className="font-bold text-lg">채팅 메세지 작성</h1>

                <form className="flex gap-2" onSubmit={onChatMessageFormSubmit}>
                    <input
                        className="border p-2 w-20"
                        type="text"
                        placeholder="작성자"
                        name="writerName"
                        autocomplete="off"
                    />
                    <input
                        className="border p-2"
                        type="text"
                        placeholder="메세지"
                        name="content"
                        autocomplete="off"
                    />
                    <input className="border p-2" type="submit" value="작성" />
                </form>

                <hr className="my-2" />

                <h1 className="font-bold text-lg">채팅 메세지</h1>

                <ul>
                    {chatMessages.map((chatMessage) => (
                        <li key={chatMessage.id}>
                            {chatMessage.id}({dateForPrint(chatMessage.createDate)}) :{" "}
                            {chatMessage.writerName} : {chatMessage.content}
                        </li>
                    ))}
                </ul>
            </>
        );
    }

    function dateForPrint(date) {
        return date.substring(2, 16).replaceAll("-", ".").replace("T", " ");
    }

    rootElement.render(<App />);

</script>